<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>214011275229-jf2bo56h2q1pak1rlh2058u7tde1pjfo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214011275229-jf2bo56h2q1pak1rlh2058u7tde1pjfo</string>
	<key>API_KEY</key>
	<string>AIzaSyDcHvLsVSO8zq1Ajy8v3wA8WvujlhKjB00</string>
	<key>GCM_SENDER_ID</key>
	<string>214011275229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ReactApp</string>
	<key>PROJECT_ID</key>
	<string>reactapp-a97ee</string>
	<key>STORAGE_BUCKET</key>
	<string>reactapp-a97ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:214011275229:ios:f092d922ed9f57df</string>
	<key>DATABASE_URL</key>
	<string>https://reactapp-a97ee.firebaseio.com</string>
</dict>
</plist>